- content_for(:page_title) do
  Flights

%h1 Flights

%table#flights
  %thead
    %tr
      %th Flight Number
      %th From
      %th To
      %th Scheduled Departure
      %th Scheduled Arrival
      %th Distance
      %th On Flight
      %th Last Check In
  %tbody
    - @flights.each do |flight|
      %tr{:class => cycle("odd", "even")}
        %td= link_to flight.number, flight
        %td= flight.origin
        %td= flight.destination
        %td= flight.local_start_at
        %td= flight.local_end_at
        %td= number_with_delimiter(flight.distance) + " miles"
        %td= pluralize(flight.check_ins_count, "user")
        %td= flight.local_last_check_in_at
    - if @flights.empty?
      %tr.no-results
        %td{:colspan => 8} No results found.
