%h1 Flights

%table#flights
  %thead
    %tr
      %th Flight Number
      %th From
      %th To
      %th Scheduled Departure
      %th Scheduled Arrival
      %th Distance
      %th On Flight
      %th Last Check In
  %tbody
    - @flights.each do |flight|
      %tr
        %td= link_to flight.number, flight
        %td= flight.origin
        %td= flight.destination
        %td= flight.start_at
        %td= flight.end_at
        %td= pluralize(flight.distance, "mile")
        %td= pluralize(flight.check_ins_count, "user")
        %td= flight.last_check_in_at
    - if @flights.empty?
      %tr.no-results
        %td No results found.
