- content_for(:page_title) do 
  = "#{@user}: #{@user.handle}"

%header
  %aside
    = link_to "Update Account Settings", edit_account_path, :id => "update-account" if can?(:manage, @user)
    %dl
      %dt Total Checkins:
      %dd= @user.check_ins_count
      %dt Total Airports:
      %dd= @user.airports_count
      %dt Total Distance:
      %dd= number_with_delimiter @user.distance_sum

  = image_tag @user.avatar_url

  %h1
    = "#{@user}: "
    = link_to(@user.handle, twitter_user_url(@user))

  - if @user.location.present?
    %h2= @user.location
  - if @user.website.present?
    %p= link_to @user.website, @user.website, :rel => "nofollow"

  %p.description= @user.description



- if @user.expose_flight_history?
  %section#flight-history
    %h2 Flight History
    %table
      %thead
        %tr
          %th{:width => "5%"} #
          %th{:width => "25%"} From
          %th{:width => "24%"} To
          %th{:width => "23%"} Departure
          %th{:width => "23%"} Arrival
          - if can?(:manage, @user)
            %th{:width => "8%"} &nbsp;
      
      %tbody
        - @check_ins.each do |check_in|
          %tr
            %td= link_to check_in.flight.number, check_in.flight
            %td= link_to check_in.flight.origin.code_with_city_name, check_in.flight.origin
            %td= link_to check_in.flight.destination.code_with_city_name, check_in.flight.destination
            %td= check_in.flight.local_start_at
            %td= check_in.flight.local_end_at
            - if can?(:manage, @user)
              %td{:width => "8%"}= link_to "Remove", user_check_in_path(@user, check_in), :method => :delete, :confirm => "Are you sure you want to remove this flight from your history?"

        - if @check_ins.empty?
          %tr.no-results
            %td{:colspan => 5} No results found.


  %section#airports-visited
    %h2 Airports Visited
    %table
      %tbody
        - @airports.each do |airport|
          %tr{:class => cycle("odd", "even")}
            %td{:width => "20%"}= link_to airport, airport
            %td{:width => "60%"}= link_to airport.city_name, airport
            %td{:width => "20%"}= @airport_checkins[airport.id]
        - if @airports.empty?
          %tr.no-results
            %td{:colspan => 3} No results found.
