%section#leaderboard
  %h1 Leaderboard
  %table
    %thead
      %tr
        %th{:width => "7%"} &nbsp;
        %th{:width => "8%"} &nbsp;
        %th{:width => "40%"} User
        %th{:width => "15%"} Flights
        %th{:width => "15%"} Distance
        %th{:width => "15%"} Airports
    %tbody
      - @leaderboard_users.each_with_index do |user, i|
        %tr{:class => cycle("odd", "even")}
          %td= "#{i + 1}."
          %td= link_to image_tag(user.avatar_url, :alt => user.handle, :height => "30px"), user
          %td= link_to user.handle, user
          %td= user.check_ins_count
          %td= user.distance_sum
          %td= user.airports_count
      - if @leaderboard_users.empty?
        %tr.no-results
          %td{:colspan => 6} No results found.

%section#recent-checkins
  %h1 Recent Flights
  %table
    %tbody
      - @recent_check_ins.each do |check_in|
        %tr{:class => cycle("odd", "even")}
          %td= link_to image_tag(check_in.user.avatar_url, :alt => check_in.user.handle, :height => "30px"), check_in.user
          %td= link_to check_in.user.handle, check_in.user
          %td= link_to check_in.flight, check_in.flight
      - if @recent_check_ins.empty?
        %tr.no-results
          %td No results found.

