%section#leaderboard
  %h1 Leaderboard
  %table
    %thead
      %tr
        %th &nbsp;
        %th User
        %th Flights
        %th Distance
        %th Airports
    %tbody
      - User.leaderboard.each_with_index do |user, i|
        - 6.times do
          %tr{:class => cycle("odd", "even")}
            %td= "#{i + 1}."
            %td= user.handle
            %td= user.check_ins_count
            %td= user.distance_sum
            %td= user.airports_count

%section#recent-checkins
  %h1 Recent Flights
  %table
    %tbody
      - CheckIn.recent.each do |check_in|
        - 2.times do
          %tr{:class => cycle("odd", "even")}
            %td= check_in.user.handle
            %td= check_in.flight
