%header
  %h1= @airport.code_with_city_name
  %h2= @airport.name


%section#recent-checkins
  %h2 Recent Checkins
  %table
    %tbody
      - @check_ins.each do |check_in|
        %tr{:class => cycle("odd", "even")}
          %td= image_tag check_in.user.avatar_url, :alt => check_in.user.handle, :height => "30px"
          %td= check_in.user.handle
          %td= check_in.flight
      - if @check_ins.empty?
        %tr.no-results
          %td{:colspan => 3} No results found.


%section#airport-departures
  %h2 Recent Departures
  %table
    %thead
      %tr
        %th{:width => "7%"} Flight
        %th{:width => "30%"} To
        %th{:width => "20%"} Departure
        %th{:width => "20%"} Arrival
        %th{:width => "13%"} On Flight
    %tbody
      - @flights_as_origin.recent.each do |flight|
        %tr
          %td= link_to flight.number, flight
          %td= flight.destination
          %td= flight.start_at
          %td= flight.end_at
          %td= pluralize(flight.distance, "mile")
          %td= pluralize(flight.check_ins_count, "user")
      - if @flights_as_origin.empty?
        %tr.no-results
          %td{:colspan => 5} No results found.


%section#airport-arrivals
  %h2 Recent Arrivals
  %table
    %thead
      %tr
        %th{:width => "7%"} Flight
        %th{:width => "30%"} To
        %th{:width => "20%"} Departure
        %th{:width => "20%"} Arrival
        %th{:width => "13%"} On Flight
    %tbody
      - @flights_as_destination.recent.each do |flight|
        %tr
          %td= link_to flight.number, flight
          %td= flight.origin
          %td= flight.start_at
          %td= flight.end_at
          %td= pluralize(flight.distance, "mile")
          %td= pluralize(flight.check_ins_count, "user")
      - if @flights_as_destination.empty?
        %tr.no-results
          %td{:colspan => 5} No results found.

