- content_for(:page_title) do
  = "Airports | " + @airport.code_with_city_name

%header
  %aside
    %dl
      %dt Total Flights:
      %dd= @airport.flights_count
      %dt Total Check Ins:
      %dd= @airport.check_ins_count
      %dt Unique Visitors:
      %dd= @airport.unique_visitors_count

  %h1= @airport.code_with_city_name
  %h2= @airport.name


%section#recent-checkins
  %h2 Recent Checkins
  %table
    %tbody
      - @check_ins.each do |check_in|
        %tr{:class => cycle("odd", "even")}
          %td= link_to image_tag(check_in.user.avatar_url, :alt => check_in.user.handle, :height => "30px"), check_in.user
          %td= link_to check_in.user.handle, check_in.user
          %td= link_to check_in.flight, check_in.flight
      - if @check_ins.empty?
        %tr.no-results
          %td{:colspan => 3} No results found.


%section#airport-departures
  %h2 Recent Departures
  %table
    %thead
      %tr
        %th{:width => "5%"} #
        %th{:width => "30%"} To
        %th{:width => "25%"} Departure
        %th{:width => "25%"} Arrival
        %th{:width => "15%"} On Flight
    %tbody
      - @flights_as_origin.recent.each do |flight|
        %tr{:class => cycle("odd", "even")}
          %td= link_to flight.number, flight
          %td= flight.destination.code_with_city_name
          %td= flight.local_start_at
          %td= flight.local_end_at
          %td= pluralize(flight.check_ins_count, "user")
      - if @flights_as_origin.empty?
        %tr.no-results
          %td{:colspan => 5} No results found.


%section#airport-arrivals
  %h2 Recent Arrivals
  %table
    %thead
      %tr
        %th{:width => "5%"} #
        %th{:width => "30%"} From
        %th{:width => "25%"} Departure
        %th{:width => "25%"} Arrival
        %th{:width => "15%"} On Flight
    %tbody
      - @flights_as_destination.recent.each do |flight|
        %tr{:class => cycle("odd", "even")}
          %td= link_to flight.number, flight
          %td= flight.origin.code_with_city_name
          %td= flight.local_start_at
          %td= flight.local_end_at
          %td= pluralize(flight.check_ins_count, "user")
      - if @flights_as_destination.empty?
        %tr.no-results
          %td{:colspan => 5} No results found.

